.wrapper {
  position: relative;
  z-index: 1;
  @include default-section-padding;
  will-change: transform;
  background: radial-gradient(
                  420.86% 2785.64% at 100% 0%,
                  #210a51 0%,
                  #29115b 29.69%,
                  #250f56 67.47%,
                  #3a1968 77.6%,
                  #613d7a 100%
  );
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

.header-menu {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: flex-end;
  will-change: transform;
  @include md-down {
    display: none;
  }
}

.header-logo-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 1;
}

.link {
  position: relative;
  padding: 20px 0;
  color: $color-tertiary;
  margin-right: 30px;
  transition: color $transition-base;

  &-active {
    color: $color-accent-secondary;
  }

  &:after {
    bottom: 22px;
  }

  &:nth-child(4) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-accent-secondary;

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

.menu-border {
  display: flex;
  height: 30px;
  width: 2px;
  background: $color-tertiary;
  opacity: 0.25;
  margin: 0 30px;
}

.button {
  will-change: transform;
  font-size: $font-size-xs;
  padding: 13px 30px;
  @include lg-down {
    padding: 13px 20px;
  }
}
