@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-regular.eot') format('eot'),
    url('/fonts/graphik-regular.woff') format('woff'),
    url('/fonts/graphik-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-medium.eot') format('eot'),
    url('/fonts/graphik-medium.woff') format('woff'),
    url('/fonts/graphik-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-semibold.eot') format('eot'),
    url('/fonts/graphik-semibold.woff') format('woff'),
    url('/fonts/graphik-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/graphik-bold.eot') format('eot'),
    url('/fonts/graphik-bold.woff') format('woff'),
    url('/fonts/graphik-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen Mono';
  src: url('/fonts/oxygenmono-regular.woff') format('woff'),
    url('/fonts/oxygenmono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
