.inner {
  padding: 45px 0 0 65px;
  @include lg-down {
    padding: 45px 0 0;
  }
  @include sm-down {
    padding-top: 0;
    @include default-section-padding;
  }
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.right {
  max-width: calc(100% - 334px);
  @include sm-down {
    max-width: 100%;
  }
}
